In [6]:
!wget -O "bike_sharing_demand_prediction_ai_challenge_-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/6e6865573bee88d8e4bf5285a706f078?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210211%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210211T150124Z&X-Amz-Expires=1800&X-Amz-Signature=2920f358c6caca0199431f0f93154e143c51897d7f70c6426e4fe4da1ef7b4e7&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22bike_sharing_demand_prediction_ai_challenge_-dataset.zip%22"

--2021-02-11 15:01:32--  https://dockship-job-models.s3.ap-south-1.amazonaws.com/6e6865573bee88d8e4bf5285a706f078?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210211%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210211T150124Z&X-Amz-Expires=1800&X-Amz-Signature=2920f358c6caca0199431f0f93154e143c51897d7f70c6426e4fe4da1ef7b4e7&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22bike_sharing_demand_prediction_ai_challenge_-dataset.zip%22
Resolving dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)... 52.219.66.95
Connecting to dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)|52.219.66.95|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 139048 (136K) [binary/octet-stream]
Saving to: ‘bike_sharing_demand_prediction_ai_challenge_-dataset.zip’

bike_sharing_demand 100%[===================>] 135.79K   187KB/s    in 0.7s

2021-02-11 15:01:33 (187 KB/s) - ‘bike_sharing_demand_prediction_ai_challenge_-dataset.zip’ saved [139048/139048]

Data life cycle
 
*   problem statment
*   data collection
*   data cleaning
*  data modeling
*   prediction

In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime 
import seaborn as sns
import zipfile

In [81]:
with zipfile.ZipFile('bike_sharing_demand_prediction_ai_challenge_-dataset.zip', 'r') as zf:
    zf.extractall('')

In [82]:
data_train=pd.read_csv("TRAIN.csv")
data_test=pd.read_csv("TEST.csv")

# Data preparation and cleaning

In [83]:
data_train.columns

Index(['Index', 'Date', 'Hour', 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(°C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day', 'Rented Bike Count'],
      dtype='object')

In [84]:
data_train["Functioning Day"].value_counts()

Yes    6936
No       96
Name: Functioning Day, dtype: int64

In [85]:
train_len=len(data_train)
print("train_len")

train_len

In [86]:
full_data= pd.concat([data_train,data_test])

In [87]:
full_data.columns

Index(['Index', 'Date', 'Hour', 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(°C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day', 'Rented Bike Count'],
      dtype='object')

In [88]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 1727
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Index                      8760 non-null   int64
 1   Date                       8760 non-null   object
 2   Hour                       8760 non-null   int64
 3   Temperature(°C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(°C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
 14  Rented Bike Count          7032 non-null   float64
dtypes: float64(7), int64(4), object(4)
memory usage: 1.1+ MB

In [89]:
full_data.head()

   Index        Date  Hour  ...     Holiday  Functioning Day  Rented Bike Count
0      0  01/12/2017     0  ...  No Holiday              Yes              254.0
1      1  01/12/2017     1  ...  No Holiday              Yes              204.0
2      2  01/12/2017     2  ...  No Holiday              Yes              173.0
3      3  01/12/2017     3  ...  No Holiday              Yes              107.0
4      4  01/12/2017     4  ...  No Holiday              Yes               78.0

[5 rows x 15 columns]

In [90]:
full_data=full_data.set_index('Index')

In [91]:
full_data.head()

             Date  Hour  ...  Functioning Day  Rented Bike Count
Index                    ...
0      01/12/2017     0  ...              Yes              254.0
1      01/12/2017     1  ...              Yes              204.0
2      01/12/2017     2  ...              Yes              173.0
3      01/12/2017     3  ...              Yes              107.0
4      01/12/2017     4  ...              Yes               78.0

[5 rows x 14 columns]

In [92]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 1727
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   object
 1   Hour                       8760 non-null   int64
 2   Temperature(°C)            8760 non-null   float64
 3   Humidity(%)                8760 non-null   int64
 4   Wind speed (m/s)           8760 non-null   float64
 5   Visibility (10m)           8760 non-null   int64
 6   Dew point temperature(°C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)    8760 non-null   float64
 8   Rainfall(mm)               8760 non-null   float64
 9   Snowfall (cm)              8760 non-null   float64
 10  Seasons                    8760 non-null   object
 11  Holiday                    8760 non-null   object
 12  Functioning Day            8760 non-null   object
 13  Rented Bike Count          7032 non-null   float64
dtypes: float64(7), int64(3), object(4)
memory usage: 1.0+ MB

In [93]:
full_data['Date']=pd.to_datetime(full_data["Date"])

In [94]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 1727
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   datetime64[ns]
 1   Hour                       8760 non-null   int64
 2   Temperature(°C)            8760 non-null   float64
 3   Humidity(%)                8760 non-null   int64
 4   Wind speed (m/s)           8760 non-null   float64
 5   Visibility (10m)           8760 non-null   int64
 6   Dew point temperature(°C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)    8760 non-null   float64
 8   Rainfall(mm)               8760 non-null   float64
 9   Snowfall (cm)              8760 non-null   float64
 10  Seasons                    8760 non-null   object
 11  Holiday                    8760 non-null   object
 12  Functioning Day            8760 non-null   object
 13  Rented Bike Count          7032 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(3)
memory usage: 1.0+ MB

In [95]:
full_data['Hour']=pd.to_datetime(full_data["Hour"],format='%H').dt.hour

In [96]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 1727
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   datetime64[ns]
 1   Hour                       8760 non-null   int64
 2   Temperature(°C)            8760 non-null   float64
 3   Humidity(%)                8760 non-null   int64
 4   Wind speed (m/s)           8760 non-null   float64
 5   Visibility (10m)           8760 non-null   int64
 6   Dew point temperature(°C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)    8760 non-null   float64
 8   Rainfall(mm)               8760 non-null   float64
 9   Snowfall (cm)              8760 non-null   float64
 10  Seasons                    8760 non-null   object
 11  Holiday                    8760 non-null   object
 12  Functioning Day            8760 non-null   object
 13  Rented Bike Count          7032 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(3)
memory usage: 1.0+ MB

In [97]:
full_data=full_data.drop(['Date'],axis=1)

In [98]:
full_data.head()

       Hour  Temperature(°C)  ...  Functioning Day  Rented Bike Count
Index                         ...
0         0             -5.2  ...              Yes              254.0
1         1             -5.5  ...              Yes              204.0
2         2             -6.0  ...              Yes              173.0
3         3             -6.2  ...              Yes              107.0
4         4             -6.0  ...              Yes               78.0

[5 rows x 13 columns]

In [99]:
full_data.Holiday.value_counts()

No Holiday    8328
Holiday        432
Name: Holiday, dtype: int64

In [100]:
full_data["Holiday"]=full_data.Holiday.replace({"No Holiday":0,"Holiday":1})

In [101]:
full_data.Seasons.value_counts()

Summer    2208
Spring    2208
Autumn    2184
Winter    2160
Name: Seasons, dtype: int64

In [102]:
full_data["Seasons"]=full_data["Seasons"].replace({"Summer":0,"Spring":1,"Autumn":2,"Winter":3})

In [103]:
full_data["Functioning Day"].value_counts()

Yes    8465
No      295
Name: Functioning Day, dtype: int64

In [104]:
full_data["Functioning Day"]=full_data["Functioning Day"].replace({"Yes":0,"No":1})

In [105]:
full_data.head()

       Hour  Temperature(°C)  ...  Functioning Day  Rented Bike Count
Index                         ...
0         0             -5.2  ...                0              254.0
1         1             -5.5  ...                0              204.0
2         2             -6.0  ...                0              173.0
3         3             -6.2  ...                0              107.0
4         4             -6.0  ...                0               78.0

[5 rows x 13 columns]

In [106]:
full_data.describe()

              Hour  Temperature(°C)  ...  Functioning Day  Rented Bike Count
count  8760.000000      8760.000000  ...      8760.000000        7032.000000
mean     11.500000        12.882922  ...         0.033676         689.143203
std       6.922582        11.944825  ...         0.180404         652.151786
min       0.000000       -17.800000  ...         0.000000           0.000000
25%       5.750000         3.500000  ...         0.000000         189.750000
50%      11.500000        13.700000  ...         0.000000         444.000000
75%      17.250000        22.500000  ...         0.000000        1035.000000
max      23.000000        39.400000  ...         1.000000        3556.000000

[8 rows x 13 columns]

In [107]:
train=full_data[:train_len]
test=full_data[train_len:]

In [108]:
train.head()

       Hour  Temperature(°C)  ...  Functioning Day  Rented Bike Count
Index                         ...
0         0             -5.2  ...                0              254.0
1         1             -5.5  ...                0              204.0
2         2             -6.0  ...                0              173.0
3         3             -6.2  ...                0              107.0
4         4             -6.0  ...                0               78.0

[5 rows x 13 columns]

In [109]:
test.head()

       Hour  Temperature(°C)  ...  Functioning Day  Rented Bike Count
Index                         ...
0         0             20.1  ...                0                NaN
1         1             20.0  ...                0                NaN
2         2             19.9  ...                0                NaN
3         3             19.6  ...                0                NaN
4         4             19.6  ...                0                NaN

[5 rows x 13 columns]

In [110]:
test=test.drop(["Rented Bike Count"],axis=1)

In [111]:
test.head()

       Hour  Temperature(°C)  Humidity(%)  ...  Seasons  Holiday  Functioning Day
Index                                      ...
0         0             20.1           58  ...        2        0                0
1         1             20.0           59  ...        2        0                0
2         2             19.9           64  ...        2        0                0
3         3             19.6           72  ...        2        0                0
4         4             19.6           74  ...        2        0                0

[5 rows x 12 columns]

In [112]:
X=train.drop("Rented Bike Count",axis=1)
y=train["Rented Bike Count"]

In [113]:
from sklearn.preprocessing import MinMaxScaler
scl=MinMaxScaler()

In [114]:
X=scl.fit_transform(X)
test=scl.transform(test)

In [115]:
X

array([[0.        , 0.22027972, 0.37755102, ..., 1.        , 0.        ,
        0.        ],
       [0.04347826, 0.21503497, 0.3877551 , ..., 1.        , 0.        ,
        0.        ],
       [0.08695652, 0.20629371, 0.39795918, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.91304348, 0.69055944, 0.64285714, ..., 0.66666667, 0.        ,
        1.        ],
       [0.95652174, 0.67657343, 0.7244898 , ..., 0.66666667, 0.        ,
        1.        ],
       [1.        , 0.66783217, 0.58163265, ..., 0.66666667, 0.        ,
        1.        ]])

In [116]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# MODEL

In [117]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
import sklearn

In [118]:
clf=LinearRegression()
clf.fit(X_train,y_train)
print("train_score",clf.score(X_train,y_train))
print("test_score",clf.score(X_test,y_test))
print(" root mean square Error",np.sqrt(mean_squared_error(y_test,clf.predict(X_test))))

train_score 0.5374540698693804
test_score 0.5364847859397872
 root mean square Error 440.46909441478306

In [119]:
cv_linear = cross_val_score(clf, X = X, y = y,cv = 5,scoring='neg_root_mean_squared_error')#cross validation
cv_linear.mean()

-470.2975960652715

In [120]:
from sklearn.neighbors import KNeighborsRegressor

In [121]:
clf=KNeighborsRegressor()
clf.fit(X_train,y_train)
print("train_score",clf.score(X_train,y_train))
print("test_score",clf.score(X_test,y_test))
print(" root mean square Error",np.sqrt(mean_squared_error(y_test,clf.predict(X_test))))

train_score 0.8745442593385697
test_score 0.7928030168477367
 root mean square Error 294.4931235952623

In [122]:
from sklearn.svm import SVR

In [123]:
clf=SVR()
clf.fit(X_train,y_train)
print("train_score",clf.score(X_train,y_train))
print("test_score",clf.score(X_test,y_test))
print("RMSE SCORE",np.sqrt(mean_squared_error(y_test,clf.predict(X_test))))

train_score 0.29246794540730914
test_score 0.2936304237549565
RMSE SCORE 543.7502097275898

In [124]:
from sklearn.tree import DecisionTreeRegressor

In [125]:
clf=DecisionTreeRegressor()
clf.fit(X_train,y_train)
print("train_score",clf.score(X_train,y_train))
print("test_score",clf.score(X_test,y_test))
print("RMSE SCORE",np.sqrt(mean_squared_error(y_test,clf.predict(X_test))))

train_score 1.0
test_score 0.7412320311685924
RMSE SCORE 329.1081998952007

In [126]:
from sklearn.ensemble import RandomForestRegressor

In [127]:
clf=RandomForestRegressor()
clf.fit(X_train,y_train)
print("train_score",clf.score(X_train,y_train))
print("test_score",clf.score(X_test,y_test))
print("RMSE SCORE",np.sqrt(mean_squared_error(y_test,clf.predict(X_test))))

train_score 0.9818158581659849
test_score 0.8621722499964286
RMSE SCORE 240.18826104517157

In [128]:
from sklearn.ensemble import AdaBoostRegressor

In [129]:
clf=AdaBoostRegressor()
clf.fit(X_train,y_train)
print("train_score",clf.score(X_train,y_train))
print("test_score",clf.score(X_test,y_test))
print("RMSE SCORE",np.sqrt(mean_squared_error(y_test,clf.predict(X_test))))

train_score 0.6073750302807814
test_score 0.5790137902416916
RMSE SCORE 419.7757822361827

In [130]:
from sklearn.ensemble import GradientBoostingRegressor

In [131]:
clf=GradientBoostingRegressor()
clf.fit(X_train,y_train)
print("train_score",clf.score(X_train,y_train))
print("test_score",clf.score(X_test,y_test))
print("RMSE SCORE",np.sqrt(mean_squared_error(y_test,clf.predict(X_test))))

train_score 0.8769942621471184
test_score 0.8489208924101249
RMSE SCORE 251.46969211103143

In [132]:
from xgboost import XGBRegressor

In [133]:
clf=XGBRegressor()
clf.fit(X_train,y_train)
print("train_score",clf.score(X_train,y_train))
print("test_score",clf.score(X_test,y_test))
print("RMSE SCORE",np.sqrt(mean_squared_error(y_test,clf.predict(X_test))))

[15:44:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
train_score 0.8745085116178316
test_score 0.8485361084703624
RMSE SCORE 251.78972301464964

# Kfold & cross validation

In [134]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
from scipy.stats import randint 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import RandomizedSearchCV 
  
# Creating the hyperparameter grid  
param_dist = {"max_depth": [3, None], 
              "max_features": randint(1, 9), 
              "min_samples_leaf": randint(1, 9), 
              "criterion": ["gini", "entropy"]} 
  
# Instantiating Decision Tree classifier 
tree = DecisionTreeClassifier() 
  
# Instantiating RandomizedSearchCV object 
tree_cv = RandomizedSearchCV(tree, param_dist, cv = 5) 
  
tree_cv.fit(X, y) 
  
# Print the tuned parameters and score 
print("Tuned Decision Tree Parameters: {}".format(tree_cv.best_params_)) 
print("Best score is {}".format(tree_cv.best_score_))

In [135]:
classifiers=[]
scores=[]
model1 = LogisticRegression()
classifiers.append(model1)
model2 = SVR()
classifiers.append(model2)
model3 =   KNeighborsRegressor()
classifiers.append(model3)
model4 = DecisionTreeRegressor()
classifiers.append(model4)
model5 = RandomForestRegressor()
classifiers.append(model5)
model6 = AdaBoostRegressor()
classifiers.append(model6)
model7 =  GradientBoostingRegressor()
classifiers.append(model7)
model8 = XGBRegressor()
classifiers.append(model8)
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    cm = np.sqrt(mean_squared_error(y_test, y_pred))
    print("train score is %s"%(clf.score(X_train,y_train)))
    print("test score is %s"%(clf.score(X_test,y_test)))
    print("root mean error is %s"%(cm))
    print("\n")
    scores.append(cm)

train score is 0.024835491403099128
test score is 0.01809564842740198
root mean error is 735.3835859784315


train score is 0.29246794540730914
test score is 0.2936304237549565
root mean error is 543.7502097275898


train score is 0.8745442593385697
test score is 0.7928030168477367
root mean error is 294.4931235952623


train score is 1.0
test score is 0.7377059384105238
root mean error is 331.34290361490866


train score is 0.9822880160979774
test score is 0.8618069672110215
root mean error is 240.5063340825385


train score is 0.6312943507702775
test score is 0.6074620871258326
root mean error is 405.34446692740175


train score is 0.8769942621471184
test score is 0.848916839237255
root mean error is 251.47306532164237


[15:44:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
train score is 0.8745085116178316
test score is 0.8485361084703624
root mean error is 251.78972301464964

In [136]:
from sklearn.model_selection import StratifiedKFold,StratifiedShuffleSplit

In [137]:
cv_scores = []
classifiers=RandomForestRegressor()
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
for train_index, test_index in kfold.split(X,y):
    print("Train Index: ", train_index, "\n")
    print("Test Index: ", test_index)
    X_train, X_test, y_train, y_test = X[train_index], X[test_index], y[train_index], y[test_index]

    classifiers.fit(X_train, y_train)
    scores.append(classifiers.score(X_test, y_test))
    print("RMSE",np.sqrt(mean_squared_error(y_test,classifiers.predict(X_test))))

Train Index:  [   0    1    4 ... 7029 7030 7031]

Test Index:  [   2    3    6 ... 7013 7020 7026]

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

RMSE 231.7193615585645
Train Index:  [   0    1    2 ... 7027 7029 7030]

Test Index:  [   4    5    9 ... 7025 7028 7031]
RMSE 236.55933287941215
Train Index:  [   0    2    3 ... 7029 7030 7031]

Test Index:  [   1   10   25 ... 7021 7023 7027]
RMSE 240.80944502614096
Train Index:  [   1    2    3 ... 7027 7028 7031]

Test Index:  [   0    7   16 ... 7010 7029 7030]
RMSE 216.1260606233853
Train Index:  [   0    1    2 ... 7029 7030 7031]

Test Index:  [  14   15   17 ... 7017 7022 7024]
RMSE 220.2434453604765

# Hyper Tuning

In [138]:
from sklearn.model_selection import GridSearchCV

In [139]:
SVR_=SVR()
parameters = [{
                  'kernel': ['rbf','linear','poly'], 
                  'gamma': [ 0.001, 0.01, 0.1, 1],
                  'C': [1, 10, 50, 100,200,300, 1000]
     }]
gsSVR = GridSearchCV(estimator = SVR_,
                           param_grid  = parameters,
                           cv = 4,#CROSS VALIDATION
                           verbose = 4,
                           iid = False,
                           n_jobs = 4,scoring='neg_root_mean_squared_error')

gsSVR.fit(X, y)  
gsSVR_best =gsSVR.best_estimator_  
print(gsSVR.best_params_)
print(gsSVR.best_score_)

Fitting 4 folds for each of 84 candidates, totalling 336 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  17 tasks      | elapsed:   25.8s
[Parallel(n_jobs=4)]: Done  90 tasks      | elapsed:  1.9min
[Parallel(n_jobs=4)]: Done 213 tasks      | elapsed:  4.5min
[Parallel(n_jobs=4)]: Done 336 out of 336 | elapsed:  8.0min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

{'C': 1000, 'gamma': 1, 'kernel': 'rbf'}
-389.23149805257225

In [140]:
KNN_=KNeighborsRegressor()
parameters = [ {
     'n_neighbors':np.arange(1,10),
     'weights':['uniform','distance'],
      'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
      'leaf_size':np.arange(20,30,1)
     }]
gsKNN = GridSearchCV(estimator = KNN_,
                           param_grid  = parameters,
                           cv = 4,#CROSS VALIDATION
                           verbose = 4,
                           iid = False,
                           n_jobs = 4,scoring='neg_root_mean_squared_error')

gsKNN.fit(X, y)  
gsKNN_best =gsKNN.best_estimator_  
print(gsKNN.best_params_)
print(gsKNN.best_score_)

Fitting 4 folds for each of 720 candidates, totalling 2880 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  26 tasks      | elapsed:    1.4s
[Parallel(n_jobs=4)]: Done 172 tasks      | elapsed:    8.6s
[Parallel(n_jobs=4)]: Done 418 tasks      | elapsed:   20.0s
[Parallel(n_jobs=4)]: Done 760 tasks      | elapsed:   37.3s
[Parallel(n_jobs=4)]: Done 1202 tasks      | elapsed:  1.3min
[Parallel(n_jobs=4)]: Done 1740 tasks      | elapsed:  1.9min
[Parallel(n_jobs=4)]: Done 2378 tasks      | elapsed:  2.6min

{'algorithm': 'brute', 'leaf_size': 20, 'n_neighbors': 9, 'weights': 'distance'}
-418.127579698247

[Parallel(n_jobs=4)]: Done 2880 out of 2880 | elapsed:  3.5min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

In [141]:
DT=DecisionTreeRegressor()
parameters = [ { "max_depth": np.arange(1,21),
              "min_samples_leaf": [1, 5, 10, 20, 50, 100],
              "min_samples_split": np.arange(2, 11),
              "criterion": ["mse","gini", "entropy"],
              "random_state" : [42]}
            ]
gsDT = GridSearchCV(estimator = DecisionTreeRegressor(),
                           param_grid  = parameters,
                           cv = 4,
                           verbose = 4,
                           iid = False,
                           n_jobs = 4,scoring='neg_root_mean_squared_error')

gsDT.fit(X, y)  
gsDT_best =gsDT.best_estimator_  
print(gsDT.best_params_)
print(gsDT.best_score_)

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 4 folds for each of 3240 candidates, totalling 12960 fits

[Parallel(n_jobs=4)]: Done  28 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 1048 tasks      | elapsed:    8.1s
[Parallel(n_jobs=4)]: Done 2106 tasks      | elapsed:   23.2s
[Parallel(n_jobs=4)]: Done 2448 tasks      | elapsed:   29.8s
[Parallel(n_jobs=4)]: Done 2890 tasks      | elapsed:   38.6s
[Parallel(n_jobs=4)]: Done 3428 tasks      | elapsed:   49.5s
[Parallel(n_jobs=4)]: Done 4066 tasks      | elapsed:  1.0min
[Parallel(n_jobs=4)]: Done 11216 tasks      | elapsed:  1.3min

{'criterion': 'mse', 'max_depth': 7, 'min_samples_leaf': 20, 'min_samples_split': 2, 'random_state': 42}
-358.44819668350215

[Parallel(n_jobs=4)]: Done 12960 out of 12960 | elapsed:  1.4min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

In [142]:
RF_=RandomForestRegressor()
parameters = [{
              "max_depth": [None],
              "max_features": [1, 3, 10],
              "min_samples_split": [2, 3, 10],
              "min_samples_leaf": [1, 3, 10],
              "bootstrap": [False],
              "n_estimators" :[100,300],
            }]
gsRF = GridSearchCV(estimator = RF_,
                           param_grid  = parameters,
                           cv = 4,
                           verbose = 4,
                           iid = False,
                           n_jobs = 4,scoring='neg_root_mean_squared_error')

gsRF.fit(X, y)  
gsRF_best =gsRF.best_estimator_  
print(gsRF.best_params_)
print(gsRF.best_score_)

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 4 folds for each of 54 candidates, totalling 216 fits

/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=4)]: Done  17 tasks      | elapsed:   24.2s
[Parallel(n_jobs=4)]: Done  90 tasks      | elapsed:  1.6min
[Parallel(n_jobs=4)]: Done 216 out of 216 | elapsed:  7.1min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

{'bootstrap': False, 'max_depth': None, 'max_features': 10, 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 100}
-325.73023587767915

In [143]:
ADA_ = AdaBoostRegressor()
perameters =[{
              'loss':['linear', 'square', 'exponential'],
              'n_estimators' : [100,200,300],
              'learning_rate': [0.1, 0.05, 0.01]
              }]

gsADA = GridSearchCV(ADA_,param_grid = perameters, cv=4, scoring="neg_root_mean_squared_error", n_jobs= 4, verbose = 1)

gsADA.fit(X,y)


gsADA_best =gsADA.best_estimator_  
print(gsADA.best_params_)
print(gsADA.best_score_)

Fitting 4 folds for each of 27 candidates, totalling 108 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   55.1s
[Parallel(n_jobs=4)]: Done 108 out of 108 | elapsed:  2.5min finished

{'learning_rate': 0.01, 'loss': 'square', 'n_estimators': 100}
-397.399947618936

In [144]:
GBC_ = GradientBoostingRegressor()
perameters =[{
              'n_estimators' : [100,200,300],
              'learning_rate': [0.1, 0.05, 0.01],
              'max_depth': [4, 8],
              'min_samples_leaf': [100,150],
              'max_features': [0.3, 0.1] 
              }]

gsGBC = GridSearchCV(GBC_,param_grid = perameters, cv=4, scoring="neg_root_mean_squared_error", n_jobs= 4, verbose = 1)

gsGBC.fit(X,y)


gsGBC_best =gsGBC.best_estimator_  
print(gsGBC.best_params_)
print(gsGBC.best_score_)

Fitting 4 folds for each of 72 candidates, totalling 288 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   13.4s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:  1.2min
[Parallel(n_jobs=4)]: Done 288 out of 288 | elapsed:  1.8min finished

{'learning_rate': 0.05, 'max_depth': 8, 'max_features': 0.3, 'min_samples_leaf': 100, 'n_estimators': 300}
-325.05332031541195

In [145]:
XGB_ = XGBRegressor()
perameters =[{
              'n_estimators' : [100,200,300],
              'learning_rate': [0.1, 0.05, 0.01],
              'max_depth': [4, 8],
              'min_samples_leaf': [100,150],
              'max_features': [0.3, 0.1]  
              }]

gsXGB = GridSearchCV(GBC_,param_grid = perameters, cv=4, scoring="neg_root_mean_squared_error", n_jobs= 4, verbose = 1)
gsXGB.fit(X,y)
gsXGB_best =gsXGB.best_estimator_  
print(gsXGB.best_params_)
print(gsXGB.best_score_)

Fitting 4 folds for each of 72 candidates, totalling 288 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   13.6s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:  1.2min
[Parallel(n_jobs=4)]: Done 288 out of 288 | elapsed:  1.8min finished

{'learning_rate': 0.05, 'max_depth': 8, 'max_features': 0.3, 'min_samples_leaf': 100, 'n_estimators': 200}
-324.16212931241046

# VOTING

In [148]:
from sklearn.ensemble import VotingRegressor
votingC = VotingRegressor(estimators=[('svr', gsSVR_best),('KNN',gsKNN_best), ('dtc', gsDT_best),('rfc', gsRF_best),
 ('adac',gsADA_best),('gbc',gsGBC_best),('xgb',gsXGB_best)], n_jobs=4)

In [150]:
votingC.fit(X, y)

VotingRegressor(estimators=[('svr',
                             SVR(C=1000, cache_size=200, coef0=0.0, degree=3,
                                 epsilon=0.1, gamma=1, kernel='rbf',
                                 max_iter=-1, shrinking=True, tol=0.001,
                                 verbose=False)),
                            ('KNN',
                             KNeighborsRegressor(algorithm='brute',
                                                 leaf_size=20,
                                                 metric='minkowski',
                                                 metric_params=None,
                                                 n_jobs=None, n_neighbors=9,
                                                 p=2, weights='distance')),
                            ('dtc',
                             DecisionTreeRegressor(ccp_alph...
                                                       loss='ls', max_depth=8,
                                                       max_features=0.3,
                                                       max_leaf_nodes=None,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=100,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       n_estimators=200,
                                                       n_iter_no_change=None,
                                                       presort='deprecated',
                                                       random_state=None,
                                                       subsample=1.0,
                                                       tol=0.0001,
                                                       validation_fraction=0.1,
                                                       verbose=0,
                                                       warm_start=False))],
                n_jobs=4, weights=None)

In [154]:
print("train_score_Voting",votingC.score(X_train,y_train))
print("test_Score_Voting",votingC.score(X_test,y_test))
print(" root mean square Error",np.sqrt(mean_squared_error(y_test,votingC.predict(X_test))))

train_score_Voting 0.9201082667450334
test_Score_Voting 0.9217498736501492
 root mean square Error 182.07814304833613

In [155]:
predict=votingC.predict(test)

In [156]:
predict

array([702.68392332, 620.21943072, 442.7014887 , ..., 362.96497225,
       337.21500756, 272.95870095])

In [157]:
predict = pd.DataFrame(predict,columns=['Rented Bike Count'])

In [159]:
predict.to_csv('predict.csv')

# ANN

In [ ]:
pip install visualkeras

In [ ]:
import tensorflow 
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Dropout
import visualkeras

In [ ]:
X_test.shape

In [ ]:
model=Sequential()
model.add(Dense(12,input_dim=12,activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(300,activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(500,activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(800,activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(50,activation="relu"))
model.add(Dense(units=1))
optimizer = keras.optimizers.Adam(lr=0.001)
model.compile(optimizer=optimizer,loss = "mean_absolute_error")

In [ ]:
model.summary()

In [ ]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=10,batch_size=30,verbose=1)